<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <title>toDoList</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no, email=no"/>

    <meta itemprop="name" content="这是分享的标题"/>
    <meta itemprop="image" content="http://imgcache.qq.com/qqshow/ac/v4/global/logo.png"/>
    <meta name="description" itemprop="description" content="这是要分享的内容"/>
    <!-- css -->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
    </style>

    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script>
        window.onload = function () {
            var vm = new Vue({
                el: '#box',
                data: {
                    myData:[],
                    username: '',
                    age: '',
                    currentBox: -1
                },
                methods: {
                    add() {
                        if(this.username === null || this.username === undefined || this.age === null || this.age === undefined) return false;
                        this.myData.push({
                            name: this.username,
                            age: this.age
                        });
                        this.username = null;
                        this.age = null;
                    },
                    deleted(e) {

                    },
                    deletedMsg(e) {
                        console.log(e);
                        this.myData.splice(e,1)
                    },
                    deletedAll() {
                        this.myData = '';
                    }
            }
            })
        }
    </script>

</head>
<body>

<div class="container" id="box" v-cloak>
    <form action="#" role="form">
        <div class="form-group">
            <label for="username">用户名：</label>
            <input type="text" id="username" class="form-control" placeholder="输入用户名：" v-model="username">
        </div>
        <div class="form-group">
            <label for="age">年龄：</label>
            <input type="text" id="age" class="form-control" placeholder="输入年龄：" v-model="age">
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-primary" value="提交" @click="add()">
            <input type="button" class="btn btn-danger" value="重置">
        </div>
    </form>
    <table class="table table-bordered table-hover">
        <caption class="h3 text-center">用户信息表</caption>
        <thead>
        <tr>
            <th class="text-center">序号</th>
            <th class="text-center">名字</th>
            <th class="text-center">年龄</th>
            <th class="text-center">操作</th>
        </tr>
        </thead>
        <tfoot></tfoot>
        <tbody class="text-center">
        <tr v-for="(item, index) in myData" :key="index">
            <td>{{ index+1 }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.age}}</td>
            <td>
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#layer" @click="currentBox = index">删除</button>
            </td>
        </tr>
        <tr v-show="myData.length != 0">
            <td colspan="4">
                <button class="btn btn-danger" @click="deletedAll()">全部删除</button>
            </td>
        </tr>
        <tr v-if="myData.length === 0">
            <td colspan="4">
                <p>暂无数据...</p>
            </td>
        </tr>
        </tbody>
    </table>
    <div role="dialog" class="modal fade" id="layer">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span class="">&times;</span></button>
                    <h4 class="modal-title">确认删除吗？</h4>
                </div>
                <div class="modal-body text-right">
                    <button type="button" class="btn btn-sm" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-sm btn-danger" @click="deletedMsg(currentBox)" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>